<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komal Dance Academy</title>
    <link rel="stylesheet" href="../static/styleseet/contactStyle.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="">CLASS INFO</a></li>
        </ul>
    </nav>
    <h2>CONTACT US</h2>
    <form action="#" method="post">
        <div class="container">
            <input class="inputtag" type="text" name="name" id="name" placeholder="enter your name" required>
            <input class="inputtag" type="password" name="password" id="pwd" placeholder="enter your password" required>
            <input class="inputtag" type="number" name="mobile" id="mname" placeholder="enter your mobile name" required>
            <input class="inputtag" type="email" name="email" id="email" placeholder="enter your email id as ag@gmail.com" required>
            <button  class="btn">submit</button>
        </div>
    </form>
    <footer id="foot">
        <span>copyright &copy; komal dance academy </span>
        <span id="until">||all right reserved</span>
    </footer>
</body>
</html>