<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Komal Dance academy </title>
    <link rel="stylesheet" href="../static/styleseet/style.css" />
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/">ABOUT</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/">CLASS INFO</a></li>
        </ul>
    </nav>
    <section id="introsec">
        <h1 class="black">Welcome to Komal dance academy</h1>
        <h3 class="black">eat dance sleep repeat</h3>
    </section>
    <section id="missec">
        <h2>our mission</h2>
        <div class="container">
            <div class="box" id="box1">
                <div class="mheading"><h2>perfection</h2></div>
                <div class="small-conatainer">
                    <div class="article">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque doloribus ipsa at? Repudiandae dolor dolore fugit quo veniam quos, in nemo ea, officia sed asperiores debitis modi officiis saepe omnis ipsam quam libero similique nisi temporibus cum, eaque dignissimos! Quo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint nulla perferendis at repellat voluptates nesciunt provident quaerat   </p>
                    </div>
                    <div class="imgsec">
                        <img src="../static/imgaes/morgan-petroski-LsMxdW1zWEQ-unsplash.jpg" alt="img1">
                    </div>
                </div>
            </div>
            <div class="box" id="box2">
                <div class="mheading"><h2>petience</h2></div>
                <div class="small-conatainer">
                    <div class="article">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque doloribus ipsa at? Repudiandae dolor dolore fugit quo veniam quos, in nemo ea, officia sed asperiores debitis modi officiis saepe omnis ipsam quam libero similique nisi temporibus cum, eaque dignissimos! Quo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint nulla perferendis at repellat voluptates nesciunt provident quaerat   </p>
                    </div>
                    <div class="imgsec">
                        <img src="../static/imgaes/maick-maciel-_v8C6BlpBzY-unsplash.jpg" alt="img1">
                    </div>
                </div>
            </div>
            <div class="box" id="box3">
                <div class="mheading"><h2>practice</h2></div>
                <div class="small-conatainer">
                    <div class="article">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque doloribus ipsa at? Repudiandae dolor dolore fugit quo veniam quos, in nemo ea, officia sed asperiores debitis modi officiis saepe omnis ipsam quam libero similique nisi temporibus cum, eaque dignissimos! Quo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint nulla perferendis at repellat voluptates nesciunt provident quaerat   </p>
                    </div>
                    <div class="imgsec">
                        <img src="../static/imgaes/michael-afonso-z8Tul255kGg-unsplash.jpg" alt="img1">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsec">
        <h2>our Students</h2>
        <div class="container-spo">
            <div class="imgclass" id="img1">
                <img class="imgclass" src="../static/imgaes/Bharata_Natyam_Performance_DS.jpg" alt="">
            </div>
            <div class="imgclass" id="img2">
                <img  class="imgclass" src="../static/imgaes/david-hofmann-90v3asMhhL0-unsplash.jpg" alt="">
            </div>
            <div class="imgclass" id="img3">
                <img  class="imgclass" src="../static/imgaes/morgan-petroski-LsMxdW1zWEQ-unsplash.jpg" alt="">
            </div>
            <div  id="img4">
                <img class="imgclass" src="../static/imgaes/david-hofmann-XmD4gx8jsXE-unsplash.jpg" alt="">
            </div>
            
        </div>
    </section>
    <footer id="foot">
          <span>copyright &copy; komal dance academy </span>
          <span id="until">||all right reserved</span>
    </footer>
</body>
<script src="../static/javascript/script.js"></script>
</html>
